a {
  color: $link-color;
}

a:hover,
a:focus,
a:active {
  border: 0;
  text-decoration: none;
  filter: brightness(140%);
}

a.plum {color: $plum-color;}
a.dropbox {color: $dropbox-color;}
a.dutchie {color: $dutchie-color;}
